@charset "UTF-8";
/*
    1. CONFIGURACIONES INICIALES
*/
/*
    2. ESTILOS AL #menuDeNavegaciónPrincipal
*/
#menuDeNavegacionPrincipal .navbar-brand {
  font-size: 2rem;
}
#menuDeNavegacionPrincipal .navbar-brand span {
  font-weight: bold;
}
#menuDeNavegacionPrincipal .navbar-toggler {
  padding: 0.25rem 0.5rem !important;
}
#menuDeNavegacionPrincipal #menuNavegacion li a {
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.3s ease;
}
#menuDeNavegacionPrincipal #menuNavegacion li:hover a {
  color: #619800 !important;
  font-weight: bold;
}

#slideDeImagenes .swiper-container {
  width: 100%;
  height: 100%;
}
#slideDeImagenes .swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 17rem;
}
#slideDeImagenes .slide1 {
  background-image: url(../images/slide1.jpg);
}
#slideDeImagenes .slide2 {
  background-image: url(../images/slide2.jpg);
}
#slideDeImagenes .swiper-button-next,
#slideDeImagenes .swiper-button-prev {
  color: #fff;
  opacity: 0.4;
}
#slideDeImagenes .swiper-button-next:after,
#slideDeImagenes .swiper-button-prev:after {
  font-size: 1.2rem;
}

/*
    3. ESTILOS A #masSobreNosotros
*/
#masSobreNosotros .img-fluid {
  height: 100px !important;
}

/*
    4. ESTILOS A #productos
*/
#productos .card {
  transition: all 0.3s ease;
}
#productos .card:hover {
  transform: scale(1.05);
}

/*
    5. ESTILOS A #casaDeTusSueños
*/
#casaDeTusSueños {
  height: 24rem;
}

/*
    6. ESTILOS A #nuestroBlogTestimoniales
*/
#nuestroBlogTestimoniales .blog .imagen img {
  width: 100%;
  height: auto;
}
#nuestroBlogTestimoniales .blog .contenido h2::after {
  content: "";
  display: block;
  width: 8rem;
  height: 0.2rem;
  background-color: #71b100;
  margin: 0.5rem 0;
  transition: all 0.3s ease;
}
#nuestroBlogTestimoniales .blog .contenido:hover h2::after {
  width: 75%;
}
#nuestroBlogTestimoniales .testimoniales .testimonial-texto {
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 3rem;
  margin-bottom: 0;
}
#nuestroBlogTestimoniales .testimoniales .testimonial-texto span {
  font-weight: bold;
}

/*
    7. ESTILOS A #pieDePagina
*/
#pieDePagina li a {
  text-decoration: none;
  transition: all 0.3s ease;
}
#pieDePagina li:hover a {
  color: #619800 !important;
  font-weight: bold;
}

/*
    X. MEDIAS QUERYS
*/
@media (min-width: 425px) {
  #slideDeImagenes .swiper-slide {
    height: 22rem;
  }
  #slideDeImagenes .swiper-button-next:after,
#slideDeImagenes .swiper-button-prev:after {
    font-size: 1.35rem;
  }
}
@media (min-width: 768px) {
  #menuDeNavegacionPrincipal .navbar {
    position: absolute;
    top: 0;
    left: 2rem;
    right: 2rem;
    z-index: 10;
    background-color: transparent !important;
  }

  #slideDeImagenes .swiper-slide {
    height: 30rem;
  }
  #slideDeImagenes .swiper-button-next:after,
#slideDeImagenes .swiper-button-prev:after {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  #menuDeNavegacionPrincipal .navbar {
    left: 4rem;
    right: 4rem;
  }

  #slideDeImagenes .swiper-slide {
    height: 39rem;
  }
}
@media (min-width: 1220px) {
  #menuDeNavegacionPrincipal .navbar {
    left: 15rem;
    right: 15rem;
  }

  #slideDeImagenes .swiper-slide {
    height: 50rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
